.timeline-item { color: unset }
.timeline-item pre { margin: 0 }
.timeline-header * { color: gray }
.timeline-item .amount-field { vertical-align: middle }
.timeline-item .amount-field.is-positive { color: #52c41a }
.ant-timeline-item-head-custom { background: none }
#company_details { margin-top: 16px }
#header {
    position: fixed;
    width: 100%;
}
#header * {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 8px;
}
#header h2 { color: rgba(255, 255, 255, 0.8) }
#header a { color: rgba(255, 255, 255, 0.5) }
#header a:hover { color: rgba(255, 255, 255, 0.8) }
#header .ant-divider.ant-divider-vertical { background-color: rgba(255, 255, 255, 0.4) }
#header .header-icon {
    font-size: 16px;
    margin-right: 8px;
}
.app-sidebar {
    overflow: auto;
    position: fixed;
    right: 0;
    padding: 64px 24px;
    height: 100vh;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
    padding: 24px 0;
}

#transaction_details .info-icon {
    margin-right: 8px;
    font-size: 32px;
    vertical-align: middle;
}